@import url(http://fonts.googleapis.com/css?family=Raleway);
@import url(http://fonts.googleapis.com/css?family=Lato:700);


/* Colors Palete 

  LowBlue - > #d7eaf2
  LowBlue+1 -> #9addf3
  LowBlue+3 -> #99ce64
  LowGreen -> #99ddd8
  LowGree+1 -> #d1e8b2
  LowYellow -> #fef8a6
  LowGray -> #aaaaaa
  Orange -> #dd4814 


*/



body {
font-family: Raleway,Helvetica,Arial,sans-serif;
color: #333;
font-weight: 300;

}
header{
	width: 100%;
	height: 56px;
	/*background: url(../images/nav-patern-small.png) #fff ;*/
	background: #001021;/*#296f9f*//*#07a99d;*/
	position: fixed;
	z-index: 999;
	box-shadow: #343434 2px 2px;
	-web-kit-box-shadow: #343434 2px 2px;
}

a{
	text-decoration: none;
}

a.btn-action{
	color: #f6f6f6;
}
a:hover#menu-icon {
	border-radius: 4px 4px 0 0;

}

header .content .logo{
	float: left;

}
header .content .logo img{
	display: inline-block;
	width: 50px;
	margin:0;
}

header .content .logo h1{
	color: #f4f4f4;
	font-size: 1.8em;
	vertical-align: top;
	display: inline-block;
	margin-top:6px;
}
header .content nav{
	/*margin: 5px 0 0;*/
	vertical-align: top;
	float: right;
}

header .content nav ul{
	margin: 15px 0 0;
	padding: 0;
}

header .content nav ul li{
	float: left;
	padding: 7px;
}
header .content nav ul li a{
	color: #f4f4f4;
}
header .content nav ul li a:hover{
	text-decoration: underline;
	color: #545454;
}

footer{
	clear: both;
	background: #343434 ;
	overflow: auto;
}

footer .foot-item{
	display: inline-block;
	vertical-align: top;
	min-width: 300px;
	/*padding: 7px;*/
	margin: 7px auto;
	color: #202020;
	
}

footer .header-footer{
	position: relative;
    padding-top: 35px;
    font-size: 24px;
	font-weight: 300;
	text-transform: uppercase;
	color: #afafaf;
	background: url(../images/foote-section.png);
	text-align: center;
	min-height: 115px;
}

footer .footer-section_color_light{
	background: url(../images/footer-section_color_light.png);
}


footer .footer-section_color_light .menu_type_footer {
	display: inline-block;
	vertical-align: top;
	width: 20%;
}
footer .footer-section_color_light .content{
	padding-top: 35px;
	display: block;
	margin:0 auto;
	
	padding-bottom: 25px;
}

footer .footer-section_color_light .menu_type_footer .menu__item {
	margin-bottom: 14px;
}

footer .button {
	background: #e05b49;
	text-align: center;
}
footer .button_type_submit-email {
	font-size: 18px;
	padding: 8px 0;
	width: 180px;
	letter-spacing: 0.02em;
	cursor: pointer;
	color: #edece5;
	background: #1c8396;
	border: none;
	outline: none;
	-webkit-box-shadow: 5px 5px #272727;
	-moz-box-shadow: 5px 5px #272727;
	box-shadow: 5px 5px #272727;
	-webkit-transition: background 0.3s ease-out;
	-moz-transition: background 0.3s ease-out;
	-o-transition: background 0.3s ease-out;
	transition: background 0.3s ease-out;
}
footer .address {
	display: inline-block;
	vertical-align: top;
	width: 30%;
	margin-top:13px;	
}

footer .address_heading {
	font-size: 24px;
	text-align: left;
	font-weight: 300;
	text-transform: uppercase;
	color: #1e7f93;
}
footer .address_text {
	text-align: left;
	font-size: 16px;
	font-weight: 300;
	margin-top: 23px;
	line-height: 24px;
	color: #acacac;
}
footer .soc-links__item {
	display: inline-block;
	margin-right: 23px;
	vertical-align: middle;

}
footer .soc-links__item a{
	font-size: 2.3em;
	color: #acacac;
}


footer .foot-item iframe{
	width: 280px;
	height: 220px;
}
footer .foot-item h3{
	color: #fff;
}
footer .foot-item .social{
	display: block;
	margin: 3px auto;
}
footer .foot-item .social .social-item{
	display: inline-block;
}

li{
	list-style-type: none;
}



section.feeling{

	width:100%;
	min-height:490px;
	-webkit-animation:home 3s;
	animation:home 3s;
	border-top:2px solid #6fcce2;
	/*background:url(../images/wrapper-bg.jpg)  #fff  -20px;*/
}

section.feeling .content .top-land{
	padding-top: 112px;
	margin:0 auto 35px auto;
	max-width:80%; 
}

section.feeling .content .mem{
	display: inline-block;	
	min-width: 250px;
	text-align: center;
	margin:0 auto 3.2em auto;

}
section.feeling .content .mem h3{
	font-weight: bolder;
	font-size: 1.7em;
	color: #343434;
}
section.feeling .content .mem .icon-title{
	color: #99ddd8;
	font-size: 7.7em;
}

section.feeling .content .mem figure{
	padding: 7px 7px 4px 7px;
	display: inline-block;
}

section.feeling .content .caracteristicas{
	display: inline-block;	
	min-width: 320px;
	max-width: 75%;
	text-align: left;
	vertical-align: top;
}

section.feeling .content .caracteristicas ul{
	float: left;
	padding-top: 0;
}
section.feeling .content .caracteristicas h2{
	display: inline-block;
	font-size: 1.3em;
}

.landVideo{
	
	max-height: 450px;
	min-width: 100%;
	z-index: -100;
}
.landVideo video#bgvid {
	position: absolute; 
	min-width: 100%;
	max-height: 450px;
	/*width: auto; height: auto; right: 0; bottom: 0;*/
	z-index: -100;
	background: url(../images/background-video.jpg) no-repeat;
	background-size: cover;
}
.list li{
	list-style-type: none;
	padding: 10px 7px;
}

.list li a{
	text-decoration: none;
	padding-left: .7em;
	color: #343434;
}
.btn-action{
	margin:10px auto;
	border-radius: 5px;
	background: #3FBA70;
	padding: 7px;
	font-size: .8em;
}

.content{
	max-width: 1100px;
	margin: 0 auto;

}
.send-email__input {
	font-size: 24px;
	font-weight: 200;
	padding: 7px 0 8px 0;
	margin-right: -6px;
	min-width: 398px;
	text-align: left;
	text-indent: 13px;
	color: #726e6e;
	background: #474747;
	border: none;
	outline: none;
}
.category-title {
	text-decoration: none;
	-webkit-transition: color 0.3s ease-out;
	-moz-transition: color 0.3s ease-out;
	-o-transition: color 0.3s ease-out;
	transition: color 0.3s ease-out;
}
.category-title {
	font-size: 24px;
	font-weight: 300;
	padding-bottom: 14px;
	color: #acacac;
	text-transform: uppercase;   
}
.main-message{
	/*display: inline-block;*/
	vertical-align: top;
	margin: 2.5em auto 1em auto;
	text-align: center;
	padding: 7px;
	color: #1496BF;
}
.main-message ul li{
	display: inline-block;
}
.my-opacity{
	border-radius: 15px ;
	-webkit-border-radius: 15px;
	background:rgba(255, 255, 255, 0.2);
	min-width: 320px;
}


.screen_type_services{
	padding-top: 147px;
	background: #edece5;
}
.screen_type_main {
	overflow: hidden;
	height: 848px;
	background: #1aa2b9;
}
.screen {
	overflow: hidden;
}
.top-services{
	max-height: 320px;
	max-width: 100%;
}
.services-desc{
	display: block;
	margin: 0 auto;
}

.top-services, .a-services, .b-services{
	padding-top: 65px;
	min-height: 320px;

}

.black{
	background: #2F3545;
}
.lowBlue{
	background: #2F3545;
}

.hpr{
	float: right;
}
.desc-text{
	font-size:1.3em;
	width: 100%;
}

#services{
	
	position: relative;
	/*border-top: 3px #231f20 solid;*/
	border-radius: 5px;
	-webkit-border-radius:5px;
	text-align: center;
}

#services .point-to {
	margin: -48px auto 0 auto;

	max-width: 320px;
	height: 129px;
	/*background: url(../images/arrow.png) ,url(../images/wrapper-bg.jpg) no-repeat; */
}

.top-section{
	margin: -34px auto 0 auto;
	background-color: #231F20;
	width: 270px;
	text-align: center;
	z-index: 75;
	font-size:2.3em;
	color: #f4f4f4;
	border-radius: 5px;
	-webkit-border-radius:5px;
	margin-bottom: 25px;
}

#menu-icon{
	display: none;
}

#proyectos{
	width: 100%;
	min-height: 640px;
	padding-top: 90px;
}

#servicios{
	width: 100%;
	min-height: 640px;
	padding-top: 90px;
}

#equipo{
	width: 100%;
	min-height: 640px;
	padding-top: 90px;
}

#sitiosweb{
	width: 100%;
	min-height: 640px;
	padding-top: 90px;
}







#menu-icon {
	display: hidden;
	width: 40px;
	height: 40px;
	margin-top:10px;
	margin-right: 5px;
}





/* Colors Palete 

  LowBlue - > #d7eaf2
  LowBlue+1 -> #9addf3
  LowBlue+3 -> #99ce64
  LowGreen -> #99ddd8
  LowGree+1 -> #d1e8b2
  LowYellow -> #fef8a6
  LowGray -> #aaaaaa
  Orange -> #dd4814 


*/
@media only screen and (max-width: 480px) {
	section.feeling .content .top-land{
		padding-top: 15px; 
	}
	video#bgvid {
		display: none;
	}
	.grid .header .item:first-child, .grid .bottom .item:first-child {
 		margin-left: 70px; /*71px*/
	}
	.grid .center .item:first-child{
 		margin-left: 30px; /*71px*/
	}
	section.feeling .content .caracteristicas{
		display: inline-block;
	}
	section.feeling .content .caracteristicas ul{
		display: block;
		float: none;
	}
	.mem{
		margin: 0 auto;
	}
	footer .footer-section_color_light .menu_type_footer {
		width: 100%;
		margin-left: 25px;
	}
	footer .address {
		width: 100%;
	}
}


@media screen and (max-width: 600px) {
	header {
		position: absolute;
	}

	nav ul, nav:active ul { 
		display: none;
		position: absolute;
		padding: 10px;
		background: #fff;
		border: 2px solid #444;
		right: 5px;
		top: 30px;
		width: 50%;
		border-radius: 4px 0 4px 4px;
	}

	nav li {
		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;
		color: black;
	}
-
	nav:hover ul {
		display: block; 
	}
	
	header .content nav ul li:hover{
		background:#343434;
	}

	header .content nav ul li a{
		color: black;
		float:left;
	}
	
	header .content nav ul li a:hover{
		text-decoration: underline;
		color: #545454;

	}

	#menu-icon {
		display:inline-block;
	}

	.icon-menu{
		color: white;
		font-size: 28px;
		padding-left: 5px;
	}
	
}




/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) { }

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) { }

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) { }

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) { }

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) { }

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) { }